@charset "utf-8";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.toolbar {
  height: 30px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  box-shadow: rgba(18, 17, 42, 0.07) 0px 1px 0px;
  z-index: 107;
}

.toolbar .logo {
  font-weight: bold;
  margin-right: auto;
  font-size: 14px;
  margin-left: 10px;
  font-style: italic;
  color: #999;
}

.toolbar .btns {
  flex: 1;
  display: flex;
  justify-content: center;

  position: fixed;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

.toolbar button {
  border: 1px solid #DDD;
  border-radius: 6px;
  padding: 3px 12px;
  margin: 0 2px;
  cursor: pointer;
  background-color: #FFF;
  font-size: 12px !important;
}

.toolbar .primary {
  background-color: var(--mybricks-color-primary);
  color: #FFF;
  font-weight: bold;
  border: 0;
}

.designer {
  flex: 1;
  overflow: hidden;
}